### Check the statistical significance of our data

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
import time
from datetime import timedelta
from scipy import stats

In [11]:
try:
    import geemap, ee, wxee, eemont
except ModuleNotFoundError:
    if 'google.colab' in str(get_ipython()):
        print("package not found, installing w/ pip in Google Colab...")
        !pip install geemap
        !pip install wxee
        !pip install eemont
    else:
        print("package not found, installing w/ conda...")
        !conda install mamba -c conda-forge -y
        !conda install wxee -c conda-forge -y
        !mamba install geemap -c conda-forge -y
        !mamba install eemont -c conda-forge -y
    import geemap, ee, wxee, eemont

In [12]:
from google.colab import drive
data=drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [13]:
chicago_final= pd.read_csv('/content/gdrive/MyDrive/data/Data After Selection and Preprocessing/chicago_final.csv')
volos_turbo_final  = pd.read_csv('/content/gdrive/MyDrive/data/Data After Selection and Preprocessing/volos_turbo_final.csv')

In [14]:
volos_turbo_final

,VgNIRBI,PISI,NDVI,EMBI,VrNIRBI,IBI,NDBI,cf_cvg,avg_rad,label
0,-0.156262,0.057925,0.069752,-0.089758,-0.069752,-15.913936,-0.010811,NaN,70.093898,0
1,-0.163073,0.054353,0.129827,-0.124079,-0.129827,-0.019400,-0.044529,NaN,70.093898,0
2,-0.152122,0.073200,0.101133,-0.027589,-0.101133,-0.673711,0.087293,NaN,70.093898,0
3,-0.279784,0.023549,0.288706,-0.124254,-0.288706,0.978246,-0.123526,NaN,70.093898,0
4,-0.226384,0.048742,0.194209,-0.024817,-0.194209,-2.934090,0.011797,NaN,70.093898,0
...,...,...,...,...,...,...,...,...,...,...
9821,-0.235897,0.019614,0.178426,-0.045459,-0.178426,2.214779,0.003865,14.0,68.900002,1
9822,-0.219015,0.029755,0.152598,-0.043590,-0.152598,-3.224787,0.018013,14.0,68.900002,1
9823,-0.219015,0.029755,0.152598,-0.043590,-0.152598,-3.224787,0.018013,14.0,68.900002,1
9824,-0.219015,0.029755,0.152598,-0.043590,-0.152598,-3.224787,0.018013,14.0,74.459999,1
9825,-0.219015,0.029755,0.152598,-0.043590,-0.152598,-3.224787,0.018013,14.0,68.900002,1

In [16]:
# check  mean  difference significace
#  https://towardsdatascience.com/anova-t-test-and-other-statistical-tests-with-python-e7a36a2fdc0c

# import the data
#df= pd.read_csv("Iris_Data.csv")
#setosa = volos_amenities_viirs['avg_rad']
#versicolor = vacant_philly_bldgs_viirs['avg_rad']
# homogeneity
stats.levene(volos_turbo_final['avg_rad'],chicago_final['avg_rad'])
# Shapiro-Wilk test for normality
#stats.shapiro(volos_turbo_final['avg_rad'])
#stats.shapiro(chicago_final['avg_rad'])

LeveneResult(statistic=218.03989661020486, pvalue=2.7554192619151735e-49)

In [ ]:
print(stats.levene(volos_turbo_final['NDVI'],chicago_final['NDVI']))
print(stats.levene(volos_turbo_final['NDBI'],chicago_final['NDBI']))
print(stats.levene(volos_turbo_final['EMBI'],chicago_final['EMBI']))
print(stats.levene(volos_turbo_final['VgNIRBI'],chicago_final['VgNIRBI']))
print(stats.levene(volos_turbo_final['VrNIRBI'],chicago_final['VrNIRBI']))
print(stats.levene(volos_turbo_final['IBI'],chicago_final['IBI']))
print(stats.levene(volos_turbo_final['PISI'],chicago_final['PISI']))
print(stats.levene(volos_turbo_final['avg_rad'],chicago_final['avg_rad']))

In [18]:
print(stats.ttest_ind(volos_turbo_final['NDVI'],chicago_final['NDVI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['NDBI'],chicago_final['NDBI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['EMBI'],chicago_final['EMBI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['VgNIRBI'],chicago_final['VgNIRBI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['VrNIRBI'],chicago_final['VrNIRBI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['IBI'],chicago_final['IBI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['PISI'],chicago_final['PISI'],equal_var=False))
print(stats.ttest_ind(volos_turbo_final['avg_rad'],chicago_final['avg_rad'],equal_var=False))

Ttest_indResult(statistic=-52.34469241971204, pvalue=0.0)
Ttest_indResult(statistic=58.28721398963892, pvalue=0.0)
Ttest_indResult(statistic=15.195238150928354, pvalue=7.000152620223283e-52)
Ttest_indResult(statistic=34.737540869500904, pvalue=9.502027722087215e-254)
Ttest_indResult(statistic=52.34469241971204, pvalue=0.0)
Ttest_indResult(statistic=0.5701246855862565, pvalue=0.5685987607214114)
Ttest_indResult(statistic=-7.288420362841825, pvalue=3.302311096512697e-13)
Ttest_indResult(statistic=-62.589734839453584, pvalue=0.0)

The small p-value suggests that the populations do not have equal variances.

This chicago data may not be suitable for volos.